.white-piece, .black-piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 70%;
  font-size: 5vmin;
  border-radius: 100%;
}

.black-square, .white-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #769656;
}

#header {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3vh auto;
  font-size: 3vmin;
  color: #EEEED2;
}

#chessboard-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  margin: 5vh auto;
  width: 80vmin;
  height: 80vmin;
  max-height: 80vmin;
  max-width: 80vmin;
  min-width: 80vmin;
  min-height: 80vmin;
  background-color: #4E543C;
  border: 3vmin solid #4E543C;
}

.black-square {
  background-color: #769656;
}

.white-square {
  background-color: #EEEED2;
}

.white-piece {
  background-color: #FFF;
  color: #4E543C;
}

.black-piece {
  background-color: #4E543C;
  color: #FFF;
}

.whitePawn5 {
  position: relative;
  -webkit-animation-name: move1white;
          animation-name: move1white;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes move1white {
  0% {
    top: 0%;
  }
  100% {
    top: -200%;
  }
}

@keyframes move1white {
  0% {
    top: 0%;
  }
  100% {
    top: -200%;
  }
}

.blackPawn7 {
  position: relative;
  -webkit-animation-name: move1black;
          animation-name: move1black;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move1black {
  0% {
    top: 0%;
  }
  100% {
    top: 200%;
  }
}

@keyframes move1black {
  0% {
    top: 0%;
  }
  100% {
    top: 200%;
  }
}

.whiteKnight1 {
  position: relative;
  -webkit-animation-name: move2white;
          animation-name: move2white;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes move2white {
  0% {
    top: 0%;
    right: 0;
  }
  100% {
    top: -200%;
    right: -100%;
  }
}

@keyframes move2white {
  0% {
    top: 0%;
    right: 0;
  }
  100% {
    top: -200%;
    right: -100%;
  }
}

.blackPawn6 {
  position: relative;
  -webkit-animation-name: move2black;
          animation-name: move2black;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes move2black {
  0% {
    top: 0%;
  }
  100% {
    top: 200%;
  }
}

@keyframes move2black {
  0% {
    top: 0%;
  }
  100% {
    top: 200%;
  }
}

.whiteQueen {
  position: relative;
  -webkit-animation-name: move3white;
          animation-name: move3white;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes move3white {
  0% {
    top: 0%;
    right: 0;
  }
  100% {
    top: -400%;
    right: -400%;
  }
}

@keyframes move3white {
  0% {
    top: 0%;
    right: 0;
  }
  100% {
    top: -400%;
    right: -400%;
  }
}

.blackKing {
  position: relative;
  -webkit-animation-name: checkmate;
          animation-name: checkmate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes checkmate {
  0% {
    background-color: #4E543C;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #4E543C;
  }
}

@keyframes checkmate {
  0% {
    background-color: #4E543C;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #4E543C;
  }
}
/*# sourceMappingURL=styles.css.map */